:root {
  /* Define primary color */
  --color-primary: #e5e7eb; 

  /* Define secondary color */
  --color-secondary: #f3f4f6; 

  /* Define accent color */
  --hue-accent: 220;
  --saturation-accent: 9%;
  --lightness-accent: 46%;
  --color-accent: hsl(var(--hue-accent),var(--saturation-accent),var(--lightness-accent)); 
    
  /* Increase lightness by 10% */
  --color-accent-hover: hsl(
    var(--hue-accent),
    var(--saturation-accent),
    calc(var(--lightness-accent) + 10%)
  );

  /* Active state decreases lightness by 10% */
  --color-accent-active: hsl(
    var(--hue-accent),
    var(--saturation-accent),
    calc(var(--lightness-accent) - 10%)
  );

  /* Disabled state increases lightness by 30% */
  --color-accent-disabled: hsl(
    var(--hue-accent),
    var(--saturation-accent),
    calc(var(--lightness-accent) + 30%)
  );

  /* Define dark colors */

  --color-dark-01: #4b5563; 
  --color-dark-02: #374151; 
  --color-dark-03: #1f2937; 
  --color-dark-04: #111827; 

  /* Define light color */
  --color-light-01: #9ca3af;
  --color-light-02: #d1d5db;
  --color-light-03: #e5e7eb;
  --color-light-04: #f3f4f6;
}

/* Display styles */
.display-01 {
  @apply font-display text-display-01 leading-display-01;
}

.display-02 {
  @apply font-display text-display-02 leading-display-02;
}

.display-03 {
  @apply font-display text-display-03 leading-display-03;
}

.display-04 {
  @apply font-display text-display-04 leading-display-04;
}

/* Heading styles */
.heading-01 {
  @apply text-heading-01 leading-heading-01;
}

.heading-02 {
  @apply text-heading-02 leading-heading-02;
}
.heading-03 {
  @apply text-heading-03 leading-heading-03;
}

.heading-04 {
  @apply text-heading-04 leading-heading-04;
}

.heading-05 {
  @apply text-heading-05 leading-heading-05;
}

.heading-06 {
  @apply text-heading-06 leading-heading-06;
}

/* Label styles */
.label-01 {
  @apply text-label-01 leading-label-01;
}

.label-02 {
  @apply text-label-02 leading-label-02;
}

.label-03 {
  @apply text-label-03 leading-label-03;
}

.label-04 {
  @apply text-label-04 leading-label-04;
}

/* Paragraph styles */
.paragraph-01 {
  @apply text-paragraph-01 leading-paragraph-01;
}

.paragraph-02 {
  @apply text-paragraph-02 leading-paragraph-02;
}

.paragraph-03 {
  @apply text-paragraph-03 leading-paragraph-03;
}

.paragraph-04 {
  @apply text-paragraph-04 leading-paragraph-04;
}

.btn {
  @apply inline-block px-5 py-3 text-center transition-all duration-200 ease-in-out border-2 rounded-corner-03;
}

.btn-primary {
  @apply text-white bg-accent border-accent btn hover:bg-accent-hover hover:border-accent-hover dark:bg-white dark:text-accent dark:border-white dark:hover:bg-light-03 dark:hover:border-light-03;
}

.btn-secondary {
  @apply text-accent border-accent btn hover:bg-accent-hover hover:text-white hover:border-accent-hover dark:border-light-03 dark:text-white dark:hover:text-white dark:hover:border-white;
}

.btn:first-of-type + .btn {
  @apply ml-3;
}

.preheading {
  @apply relative block mb-4 text-sm font-light tracking-widest text-gray-400 uppercase dark:text-gray-400;
}

.preheading.center {
  max-width: max-content;
  @apply mx-auto;
}

.preheading.line {
  @apply pl-10;
}

.preheading.dot {
  @apply pl-5;
}

.preheading.line::before,
.preheading.dot::before {
  content: "";
  @apply absolute left-0 -translate-y-1/2 transform-gpu top-1/2;
}

.preheading.line::before {
  @apply border-t border-gray-400 w-7;
}

.preheading.dot::before {
  @apply w-1.5 h-1.5 bg-gray-400 rounded-full;
}
